@import "tailwindcss";

@layer utilities {
	.yes-scrollbar {
		scrollbar-width: auto;
	}
	.yes-scrollbar::-webkit-scrollbar {
		display: inline-block;
	}
}

@theme {
	--spacing-paragraph: 70ch;
}

@plugin "daisyui" {
	themes: light --default, bumblebee;
}
